@model TopBloggers.ViewModels.Account.AuthorAccountViewModel

@{
    Layout = "../Shared/_AccountLayout.cshtml";
}

<div id="dashboard">
    <div id="dashboard-container" class="container" data-aos="fade-left">
       
    </div>
</div>
