@model TopBloggers.ViewModels.Account.AuthorAccountViewModel

@{
    Layout = "../Shared/_AccountLayout.cshtml";
}

<div id="dashboard">
    <div id="dashboard-container" class="container" data-aos="fade-left">
        <h1 style="text-transform: capitalize">Dashboard - Welcome @Model.Author.Name</h1>
        <p>@Html.ActionLink("Create Article", "Create")</p>
    </div>
</div>
