@{
    ViewBag.Title = "Home";
}

<div id="home">
    <header data-aos="fade-right">
        <h1>TOP BLOGGERS</h1>
        <h3>Delivering top content to top readers</h3>
        <h3>All the latest articles about various topics in one place</h3>
    </header>

    <div id="home-content" class="container">
        <section id="top-blog-article-section section-content" data-aos="fade-right">
            <h1 class="headline-text">TOP BLOG STORIES</h1>
        </section>

        <section id="latest-blog-article-section" data-aos="fade-right">
            <h1 class="headline-text">LATEST BLOG POST</h1>
        </section>

        <section id="featured-blog-article-section" data-aos="fade-right">
            <h1 class="headline-text">FEATURED BLOGS</h1>
        </section>

        <section id="category-blog-article-section" data-aos="fade-left">
            <h1 class="headline-text">LIFESTYLE</h1>
        </section>

        <section id="category-blog-article-section" data-aos="fade-left">
            <h1 class="headline-text">CULTURE</h1>
        </section>
    </div>
</div>
